

 /**----------------------------------------------------------------------------------**/
 @charset "utf-8";
 /* CSS Document */
 @import url('http://fonts.googleapis.com/css?family=Open+Sans');
 @font-face{
 	src:url("http://dl.dropbox.com/u/94346812/cssdeck/fonts/pictos-regular-webfont.ttf") format("truetype"),
 		url("http://dl.dropbox.com/u/94346812/cssdeck/fonts/pictos-regular-webfont.otf") format("opentype"),
 		url("http://dl.dropbox.com/u/94346812/cssdeck/fonts/pictos-regular-webfont.svg") format("svg");
 	font-family:icon;
 }

 .body{
 	margin:0;
 	/*background:#292931;    */
 	background: #EEE8F3;
 	font-family:'Open Sans';
 }
 .label_block{
 	font-family:icon;
 	text-shadow:0 -1px 0 #666;
 	-webkit-font-smoothing: antialiased;
 }
 .block,#option{
 	width:330px;
 	height:115px;
 	margin:auto;
 }
 .block{
 	background:#423143;
 	margin-top:100px;
 }
 .block:before{
 	content:'';
 	display:block;
 	width:230px;
 	height:3px;

 }
 .block:after{
 	content:'';
 	display:block;
 	width:15px;
 	height:15px;
 	background:#423143;
 	transform:rotate(-45deg);
 	-ms-transform:rotate(-45deg);
 	-webkit-transform:rotate(-45deg);
 	margin:10px 18px;
 	position:absolute;
 }
 .label_block, #submit{
 	position:absolute;
 	width:33px;
 	height:34px;
 	background:#dedede;
 	margin: 0px 15px;
 	text-align:center;
 	line-height:2.2;
 	color:#857487;
 	border-top-left-radius:2px;
 	border-bottom-left-radius:2px;
 }
 .block label#pass{
 	position:absolute;
 	width:33px;
 	height:34px;
 	background:#dedede;
 	margin:-5px 15px;

 }
 #submit{
 	border:0;
 	margin:-29px 280px;
 	border-top-left-radius:0px;
 	border-bottom-left-radius:0px;
 	border-top-right-radius:2px;
 	border-bottom-right-radius:2px;
 	font-family:icon;
 	background:#ae6cac;
 	text-shadow:0 -1px 0 #333;
 	box-shadow:-1px 0 1px 0px #6c5b6d;
 	font-size:12px;
 	line-height:2.8;
 	padding:0;
 }
 #submit:hover{
 	color:#fff;
 }
 #user, .pass{
 	box-shadow:0.1px 0 2px #6c5B6d;
 }
 #block input[type=text],#block  input[type=password], #option p {
 	font-family:'Open Sans';
 	font-weight:300;
 	-webkit-font-smoothing: antialiased;
 }
 #block input[type=text],#block  input[type=password]{
 	width:256px;
 	height:32px;
 	margin:15px 15px;
 	padding-left: 40px;
 	border:0;
 	border-radius:2px;
 	outline:0;
 	display:block;
 	font-size:18px;
 }
 #block input[type=password]{
 	width:256px;
 	height:30px;
 	margin:-5px 15px;
 }
 #submit{
 	color:#fff;font-size:8px;font-weight:bold;
 }
 #option{
 	width:400px;
 	height:115px;
 	overflow:hidden;
 	margin:auto;
 	margin-bottom: 400px;
 }
 #option p{
 	color:#6c5B6d;
 	font-size:24px;
 	text-transform:uppercase;
 	padding:0px 18px;
 	margin-top:15px;
 	display:block;
 	float:left;
 	-webkit-font-smoothing: antialiased;
 }
 /*
 #option a{
 	-webkit-font-smoothing: antialiased;
 	color:#6c5B6d;
 	/text-shadow:0 -1px 0 #000;
 	font-size:12px;
 	display:block;
 	float:right;
 	margin:26px 15px;
 }  */

 .error_text {
    display: block;
    position: relative;
    left: 180px;
    color: red;
    height: 20px;
 }

 input{padding-left:40px;}
 #block:active > #block:before{
 	background-position:100px 100px;
 }

 /* placeholder */
 ::-webkit-input-placeholder {
 	-webkit-font-smoothing: antialiased;
 	color:#999;
 	font-size:16px;
 }
 :-moz-input-placeholder {
 	color:#999;
 	font-size:16px;
 }

 input::-webkit-validation-bubble-message {
 	color:white;
 	background-color:: #e62163;
   border:0;
 	border-radius:0;
 	padding:0;
 	width:55px;
 	height:34px;
 	position:absolute;
 	float:left;
 	margin:-33px 208px;
 	text-align:center;
 	line-height:2.7em;
 	box-shadow:0 0 0;
 }
 input::-webkit-validation-bubble-message:before {
 	content:"X";
 	display:block;
 	font-family:icon;
 	color:white;
 	background: #e62163;
     border:0;
 	border-radius:0;
 	padding:0;
 	width:34px;
 	height:34px;
 	position:absolute;
 	float:left;
 	margin:0px -208px;
 	text-align:center;
 	line-height:2.7em;
 	color: #fff;
 	border-top-left-radius:2px;
 	border-bottom-left-radius:2px;
 	-webkit-font-smoothing: antialiased;

 }
 input::-webkit-validation-bubble-icon {
 	display: none;
 }
 input::-webkit-validation-bubble-arrow {
 	background: #e62163;
 	border:0;
 	width:10px;
 	height:10px;
 	position:absolute;
 	margin:-23px 178px;
 }


 footer {
      margin: 0px;
      margin-top:15px;

 }
 img {
     -moz-box-shadow: -8px -10px 10px #fff;
     -webkit-box-shadow: -8px -10px 10px #fff;
     box-shadow: -8px -10px 10px #fff;
 }

/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */


.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.scroll{
   width:330px;
   	height:115px;
}

/* Chat */
.p {
color:#6c5B6d;
 	font-size:24px;
 	text-transform:uppercase;
 	padding:0px 18px;
 	margin-top:15px;
 	display:block;
 	float:left;
 	-webkit-font-smoothing: antialiased;
}

.head_chat {
    width: 1980px;
    height: 75px;
    background: #292931;
    -moz-box-shadow:  0 5px #29293;
    -webkit-box-shadow:  0 5px #29293;
    box-shadow:  0 5px #29293;
    height: 75px;
    background: #292931;
}

.msg_list {
    height: 350px;
    padding: 50px;
    margin: 2% 3%;
    box-shadow: -1px -1px 2px;
    background: #fff;
}
.input_message {
    -moz-box-shadow:  -1px -1px 2px;
    -webkit-box-shadow:  -1px -1px 2px;
    box-shadow:  -1px -1px 2px;
    display: block;
    float: left;
    font-family: 'Open Sans';
    font-weight: 300;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    width: 80%;
    height: 32px;
    margin: 2% 3%;
    padding-left: 40px;
    border: 0;
    border-radius: 2px;
    outline: 0;
    display: block;
    font-size: 18px;
}

footer_chat {

     margin-top: 220px;
     margin-bottom:0;
 }

 .send{
  	width: 34px;
    height: 34px;
    border: 0;
    margin-left: -52px;
    margin-top: 36px;
  	border-top-left-radius:0px;
  	border-bottom-left-radius:0px;
  	border-top-right-radius:2px;
  	border-bottom-right-radius:2px;
  	font-family:icon;
  	background:#ae6cac;
  	text-shadow:0 -1px 0 #333;
  	box-shadow:-1px 0 1px 0px #6c5b6d;
  	font-size:12px;
  	line-height:2.8;
  	padding:0;
  }
  .send:hover{
  	color:#fff;
  }

  .logout_button {
    width: 100px;
    margin-left: 92%;;
    margin-left: 93%;
  }

  .warning {
    color: red;
  }
